In [2]:
import pandas as pd

In [3]:
read = pd.read_csv('pertemuan5/data.csv')

In [4]:
read

    tanggal     uraian    debet  kredit
0  21/10/17     Gajian  1000000       0
1  22/10/17  Beli Kopi        0   25000
2  25/10/17  Beli Baju        0  150000

In [18]:
jurnal = read.to_dict(orient='record')

In [19]:
jurnal[0]['tanggal']

'21/10/17'