## Fungsi Built-In

In [ ]:
import math
import os

In [4]:
math.ceil(2.5)

3

In [5]:
math.sin(30)

-0.9880316240928618

In [6]:
math.pi

3.141592653589793

In [7]:
os.name

'posix'

## Fungsi Buatan Sendiri

In [16]:
def f(input_nilai):
    hasil = 2*input_nilai+3
    return hasil

def z(fandi):
    hasil = fandi[0] * fandi[1] + 2
    return hasil
    
z([1,5])

7

In [30]:
def selisih(debet, kredit):
    hasil = debet - kredit
    return hasil

def sums(input_array):
    total = 0
    for idx in range(0, len(input_array)):
        total = total + input_array[idx]
    return total

def selisih_list(debet, kredit):
    debet_total = sums(debet)
    kredit_total = sums(kredit)
    
    hasil = selisih(debet_total, kredit_total)
    return hasil

def balance(debet, kredit):
    sel = []
    for idx in range(0, len(debet)):
        if idx == 0: # idx pasti bernilai 0
            awal = debet[idx] - kredit[idx]
            sel.append(awal)
        else: # idx pasti lebih besar dari 0
            idx_before = idx - 1
            lanjutan =  debet[idx] - kredit[idx] + sel[idx_before]
            sel.append(lanjutan)
    return sel

In [34]:
import pandas as pd
df = pd.read_csv('pertemuan6/data.csv')
df.head()

    tanggal     uraian    debet  kredit
0  21/10/17     Gajian  1000000       0
1  22/10/17  Beli Kopi        0   25000
2  25/10/17  Beli Baju        0  150000

In [44]:
debet = df.debet.values
kredit = df.kredit.values
sel = balance(debet,kredit)
df['selisih'] = sel

In [45]:
df.head()

    tanggal     uraian    debet  kredit  selisih
0  21/10/17     Gajian  1000000       0  1000000
1  22/10/17  Beli Kopi        0   25000   975000
2  25/10/17  Beli Baju        0  150000   825000

In [46]:
from pandas import ExcelWriter
from pandas import ExcelFile

writer = ExcelWriter('pertemuan6/data-olahan.xlsx')
df.to_excel(writer,'Sheet1',index=False)
writer.save()

In [50]:
%matplotlib
df.plot(kind='line')

Using matplotlib backend: Qt5Agg